{% extends 'base.html.twig' %}

{% block title %}
Blog - Page d'accueil
{% endblock %}

{% block body %}
<div id="hero">
    <img src="{{ asset('img/picture.jpg')}}" alt="image du hero" id="hero-img">
</div>


{% endblock %}
